.navigation {
   margin-bottom: 30px;
}

.container {
   padding: 0;
   min-width: 100vw;
}

.list {
   display: flex;
   padding: 0 calc((100vw / 2) - (var(--container) / 2));
   overflow-x: auto;
   overflow-y: hidden;
   column-gap: 8px;
}

@media (min-width: 768px) {
   .list {
      column-gap: 12px;
   }
}

@media (min-width: 1024px) {
   .navigation {
      margin-bottom: 50px;
   }

   .list {
      column-gap: 24px;
   }
}